/* variables */
$main-font: Montserrat, sans-serif;
$second-font: Merriweather serif;
$a-transition: .4s all;
$color-accent: #fed136;
$color-main: #222;
$color-second: #777;

body {
  margin: 0;
  min-width: 320px;
}

section {
  padding: 125px 0;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/Background Image.png") no-repeat center;
  background-size: cover;
  height: 700px;
  margin: 0 auto;

  h1, h2, .about-btn {
    color: #fff;
    text-align: center;
  }

  h2 {
    font-family: $second-font;
    font-style: italic;
    font-weight: lighter;
    font-size: 44px;
    margin-top: 190px;
    margin-bottom: 15px;
  }

  h1 {
    font-family: $main-font;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
  }

  a.about-btn {
    text-decoration: none;
    text-align: center;
    font-family: $main-font;
    background-color: $color-accent;
    display: block;
    max-width: 220px;
    padding: 25px;
    margin: auto;

  }
}

nav {
  .logo {
    margin: 50px 0 0 0;
    text-align: right;
  }

  .navigation {
    float: right;
  }

  .navigation ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 50px 0 0 0;
    text-align: right;

    li{
      display: inline-block;
      margin-right: 25px;
    }

    li a {
      text-decoration: none;
      font-family: $main-font;
      font-weight: bold;
      color: #fff;
      transition: $a-transition;

      &:hover {
        color: $color-accent;
        transition: $a-transition;
      }
    }
  }
}

section {
  .section-title, h3, .section-subtitle {
    color: $color-main;
    text-align: center;
    font-family: $main-font;
  }

  .section-title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 0;
  }

  .section-subtitle {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 100px;
    color: $color-second;
  }

  span.service-icon {
    display: block;
    width: 100px;
    margin: auto;
  }

  i {
    text-align: center;
    color: $color-accent;
    display: block;
    font-size: 50px;
    border: 5px solid $color-accent;
    width: 100px;
    height: 100px;
    line-height: 60px;
    padding: 15px;
    border-radius: 50%;
  }

  p {
    text-align: center;
    font-family: $second-font;
    color: $color-second;
    font-size: 1.2rem;
  }
}

section.portfolio {
  background-color: #f7f7f7;

  .row {
    margin: 50px 0;
  }

  .portfolio-card {
    background-color: #fff;
    padding: 0;
    margin: 0 auto;

    img {
      width: 100%;
    }

    h2, h3 {
      text-align: center;
    }

    h2 {
      font-weight: 900;
      margin-bottom: 0;
      font-family: $main-font;
    }

    h3 {
      font-family: $second-font;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 30px;
      color: $color-second;
    }
  }
}

footer {
  padding: 50px 0;

  .copyright, .social-media {
    display: inline-block;
    width: 33%;
    margin: auto;
  }

  .social-media ul {
    padding-inline-start: 0;
    margin: auto;
    text-align: center;

    li {
      font-size: 0;
      display: inline-block;
      margin: 3px;

      i {
        font-size: 16px;
        color: #fff;
        background: $color-main;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 50%;
        transform: scale(1);
        transition: $a-transition;

        &:hover {
          transform: scale(1.1);
          transition: $a-transition;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  section.portfolio .row {
    margin: 0;
  }

  section.portfolio .portfolio-card {
    margin: 25px auto;
  }

  .services .service {
    margin: 25px auto;
  }

  header h2 {
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 15px;
  }

  header h1 {
    font-size: 36px;
  }
}
